.todaslasFotos{
  background-color: black;
}
.card {
  display: inline-block;
  border: solid;
  border-color: rgb(7, 26, 199);
  padding: 10mm;
  background-color: rgb(82, 8, 8);
  width: 40rem;
  margin: 0 auto;
}

#card-body {
  background-color: rgb(206, 9, 9);
}

.card-text {
  color:rgb(218, 224, 211);
  text-align: center;
  font-size: 5mm;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
  color: whitesmoke;
  text-align: center;
}
h2 {
  color: rgb(170, 48, 17);
  text-align: center;
}


